*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFE8;
}

body{
  background-color: #FFD4D4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* .conatiner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

#game{
  width: 700px;
  height: 300px;
  border: none;
  background-color: #FFFFE8;
  border-radius: 2px 20px 2px 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

#dino{
  width: 50px;
  height: 60px;
  background: url('sis.png') center/cover;
  border-radius: 3px;
  position: absolute;
  left: 80px;
  bottom: -1px;
}
.animate{
  animation: jump 500ms ease-out;
  
}
@keyframes jump{
  0%{bottom: 0;}
  40%{bottom: 120px}
  55%{bottom: 120px}
  100%{bottom: 0}
}

.cactus{
  width: 50px;
  height: 70px;
  background: url('sam.png') center/cover;
  position: absolute;
  bottom: -3px;
  left: 0;
  border-radius: 3px;
  animation: wiggle 0.4s infinite;
}
@keyframes wiggle {
  0%{transform: rotate(0deg);}
  25%{transform: rotate(3deg);}
  75%{transform: rotate(-3deg);}
  100%{transform: rotate(0deg);}
}

button{
  font-size: 30px;
  padding: 8px 14px 8px 16px;
  border-width: 0;
  border-radius: 2px 10px 2px 10px;
  background-color: #AACB73;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5)
}
button:hover{
  background-color: #8ba75f;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5)
}

.nav{
  margin: 15px;
}

#musicBtn{
  font-size: 30px;
}


.score {
  position: absolute;
  top: 30px;
  
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;

  color: #FFFFE8;
  border-radius: 2px 10px 2px 10px;
  background-color: #AACB73;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5)
}